@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import 'filepond/dist/filepond.min.css';
@import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    color: #272a42;
  }
  html,
  .filepond--root {
    font-family: 'Poppins', sans-serif;
  }
  body {
    background: radial-gradient(ellipse at right bottom, rgba(220, 219, 145, 0.3) 5%, rgba(223, 168, 140, 0.3) 25%, rgba(223, 140, 154, 0.3) 50%, rgba(168, 140, 223, 0.3) 100%);
  }
  input[type="file"] {
    display: none;
  }
}

@layer components {
  .button {
    @apply rounded-2xl px-5 backdrop-blur-md text-white text-xl font-bold;
    @apply transition-colors duration-200;
    @apply py-3 flex items-center justify-center;
    @apply bg-[#df8c9a]/90 hover:bg-[#df8c9a] active:bg-[#df8c9a]/80;
    @apply disabled:cursor-not-allowed disabled:bg-[#df8c9a]/50;
  }
}

.filepond--root {
  @apply !rounded-3xl overflow-hidden;
}

.filepond--hopper {
  margin-bottom: 0;
}

.filepond--panel-root {
  @apply bg-white/50;
}

.filepond--image-preview-wrapper {
  @apply !rounded-2xl;
}

.filepond--panel.filepond--item-panel {
  @apply !rounded-2xl overflow-hidden;
}

.filepond--wrapper,
.filepond--root .filepond--drop-label {
  min-height: 312px;
}

.filepond--drop-label {
  @apply !text-xl !text-gray-700;
  @apply !rounded-3xl border-dashed border-2 border-[#df8c9a]/50;
}

.filepond--drop-label,
.filepond--drop-label label {
  @apply cursor-pointer;
}